<table class="table table-bordered">
  <thead>
  <tr>
    <th>
    All Owner
    </th>
  </tr>

  </thead>
  <tbody>
  <tr *ngFor="let user of owners">

    <td>
      {{user.username}}
    </td>
    <td>
    <button (click)="profile(user._id)"  class="btn btn-primary">
     Edit Profile
    </button>
    </td>
    <td>
      <button (click)="apartments(user._id)" class="btn btn-success">
        Edit Apartments
      </button>
    </td>
    <td>
      <button (click)="invites(user._id)" class="btn btn-info">
        Edit InvitesList
      </button>
    </td>
  </tr>
  </tbody>
</table>
  <table class="table table-bordered">
    <thead>
    <tr>
      <th>
        All Tenant
      </th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let user of tenants">

      <td>
        {{user.username}}
      </td>
      <td>
        <button (click)="profile(user._id)" class="btn btn-primary">
          Edit Profile
        </button>
      </td>
      <td>
        <button (click)="wishlist(user._id)" class="btn btn-success">
         Edit Wishlist
        </button>
      </td>
    </tr>
    </tbody>
  </table>
<div class="alert alert-danger" role="alert" *ngIf="isUsernameExist">
  Username already exist. Try another username.
</div>
<table class="table table-bordered">
  <thead>
  <tr>
    <th>
      Create Functionalities
    </th>
  </tr>
  </thead>
  <tbody>
  <tbody>
<tr>
  <td>
    Provide username followed by password
  </td>
  <td>
<input [(ngModel)]="newuser.username"
       placeholder="username"
       class="form-control"/>
  </td>
  <td>
  <input [(ngModel)]="newuser.password"
       placeholder="password"
       type="password"
       class="form-control"/>
  </td>
    <td>
<select class='form-control ' required [(ngModel)]='newuser.role'>
  <option class='option' *ngFor='let user of userTypes' [value]="user">{{user}}</option>
</select>
    </td>

  <td>
<button (click)="createUser()"
        class="btn btn-primary btn-block">
  Create User
</button>
  </td>
</tr>
<tr>
  <td>
    Select tenant followed by property
  </td>
  <td>
    <select class='form-control ' required [(ngModel)]='wishUser'>
      <option class='option' *ngFor='let user of tenants' [value]="user._id">{{user.username}}</option>
    </select>
  </td>
  <td>
    <select class='form-control ' required [(ngModel)]='wishProp'>
      <option class='option' *ngFor='let prop of properties' [value]="prop._id">{{prop.name}}</option>
    </select>
  </td>

  <td>
    <button (click)="addToWishlist()"
            class="btn btn-primary btn-block">
      Add to Wishlist
    </button>
  </td>
</tr>
<tr>
  <td>
    Select tenant followed by property
  </td>
  <td>
    <select class='form-control ' required [(ngModel)]='inviteUser'>
      <option class='option' *ngFor='let user of tenants' [value]="user._id">{{user.username}}</option>
    </select>
  </td>
  <td>
    <select class='form-control ' required [(ngModel)]='inviteProp'>
      <option class='option' *ngFor='let prop of properties' [value]="prop._id">{{prop.name}}</option>
    </select>
  </td>

  <td>
    <button (click)="addToInvitelist()"
            class="btn btn-primary btn-block">
      Send an invite
    </button>
  </td>
</tr>
<tr>
  <td>
    Create new Property
  </td>
  <td>
    <button (click)="createProperty()"
            class="btn btn-primary btn-block">
      Create Property
    </button>
  </td>
</tr>
</tbody>
</table>
