.propertyImg{
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  border:1px solid lightgray;
}

.propDetailImg{
  margin: 10px;
}

.inviteParent{
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.propTable{
  text-align: center;
}
.li{
  text-align: center;
}
