<app-navigation-bar [isLoggedIn]="isLoggedIn" [isAdmin]="isAdmin"></app-navigation-bar>
<div class="container">
  <h2 class="profile-component">Profile</h2>
  <div class="row">
    <div class="col-4">
      <div *ngIf="user.photoId!==''">
        <cl-image
          [public-id]=user.photoId
          class="thumbnail inline"
          width="300"
          height="300"
          crop="fit"
          quality="80"
          format="jpg"
        >
        </cl-image>
      </div>
      <div *ngIf="user.photoId===''">
        <img src="../../assets/img/default-profile.png">
      </div>
    </div>
    <div class="col-8">
      <label for="username">Username</label>
      <input id="username"
             readonly
             [(ngModel)]="user.username"
             placeholder="Bob124"
             class="form-control profile-input"/>
      <label for="first">First Name</label>
      <input id="first"
             [(ngModel)]="user.firstName"
             placeholder="Bob"
             readonly
             class="form-control profile-input"/>
      <label for="last">Last Name</label>
      <input id="last"
             [(ngModel)]="user.lastName"
             placeholder="Affleck"
             readonly
             class="form-control profile-input"/>
      <label for="email">Email Address</label>
      <input id="email"
             type="email"
             readonly
             [(ngModel)]="user.email"
             placeholder="bob@gmail.com"
             class="form-control profile-input"/>
      <label for="phone">Phone Number</label>
      <input id="phone"
             type="number"
             readonly
             [(ngModel)]="user.phone"
             placeholder="8675641232"
             class="form-control profile-input"/>
  </div>
</div>
