<app-navigation-bar [isLoggedIn]="isLoggedIn" [isOwner]="isOwner" [isTenant]="isTenant"></app-navigation-bar>
<div class="container">
  <h1 class="address-component propHeader">Property Details</h1>

  <div class="row">
    <div class="col-4">
      <ul class="list-group">
        <li  *ngFor="let id of property.photoId"
            class="list-group-item wbdv">
          <div class="container-fluid">
          <cl-image
            [public-id]=id
            class="thumbnail inline"
            width="300"
            height="300"
            crop="fit"
          >
          </cl-image>
          </div>
        </li>
      </ul>
      <div *ngIf="property.photoId.length==0">
        <img src="../../assets/img/default-property.jpg" class="img-fluid" height="auto">
      </div>
      <button (click)="fileInput.click()" class="btn btn-success btn-block profile-btn">Upload</button>
      <span
        style="visibility: hidden; position: absolute; overflow: hidden; width: 0px; height:0px;border:none;margin:0; padding:0">
     <input type="file" id="fileupload" #fileInput ng2FileSelect [uploader]="uploader" (change)="fileInput.value=''"
            multiple/>
    </span>
    </div>
    <div class="col-8">
      <div class="alert alert-danger" role="alert" *ngIf="!isPropertyValid">
        Kindly provide all the required field and retry.
      </div>
      <div class="form-group">
        <label for="name" class="control-label required">Name</label>
        <input type="text" class="form-control" id="name" [(ngModel)]="property.name"
               placeholder="My Shadowbrook Guest House">
      </div>

      <div class="form-group">
      <label class="control-label required" for="owneruniversity">University</label>
        <input id="owneruniversity" class="form-control" type="text" placeholder="Pick one" aria-label="Number" matInput [formControl]="myControl" [matAutocomplete]="auto">
        <mat-autocomplete  #auto="matAutocomplete">
          <mat-option *ngFor="let option of filteredOptions | async" [value]="option.name" (onSelectionChange)="autocompleteOwnerValueChange(option)">
            {{option.name}}
          </mat-option>
        </mat-autocomplete>
      </div>

      <div class="form-group">
      <label class="control-label required" for="propType">Type of place</label>
      <select id="propType" class='form-control' required [(ngModel)]='property.type'>
        <option class='aptType' *ngFor='let type of propertyTypes' [value]="type">{{type}}</option>
      </select>
      </div>

      <div class="form-group">
      <label for="availablity" class="control-label required">Availablity</label>
      <select id="availablity" class='form-control' required [(ngModel)]='property.availabilityType'>
        <option class='availType' *ngFor='let availType of availTypes' [value]="availType">{{availType}}</option>
      </select>
      </div>

      <div class="form-group">
      <label for="price" class="contol-label required">Price (In $)</label>
      <input id="price"
             type="number"
             [(ngModel)]="property.price"
             placeholder="1200"
             class="form-control profile-input"/>
      </div>

      <div class="form-group">
      <label for="rooms" class="control-label required">Number of Rooms</label>
      <input id="rooms"
             type="number"
             [(ngModel)]="property.rooms"
             placeholder="Number of Rooms Ex: 4"
             class="form-control profile-input"/>
      </div>

      <div class="form-group">
        <label for="autocomplete" class="control-label required"> Address</label>
        <input #autocomplete type="text" class="form-control" id="autocomplete"
                placeholder="Powered By Google">
      </div>

      <div class="form-group">
        <label for="street"  class="control-label">Street Address</label>
        <input #street  type="text" class="form-control" id="street"
               placeholder="Street address, P.O. box, company name, c/o">
      </div>

      <div class="form-group">
        <label for="street2_id" class="control-label">Apt, Suite.(optional) </label>
        <input #apt type="text" class="form-control" id="street2_id"
               placeholder="Apartment, suite, unit, building, floor, etc.">
      </div>

      <div class="form-group">
        <label for="city_id" class="control-label required">City</label>
        <input #city type="text" #city class="form-control" id="city_id"
               placeholder="Boston">
      </div>

      <div class="form-group">
        <label for="state_id" class="control-label required">State</label>
        <input #state type="text" #state class="form-control" id="state_id"
               placeholder="MA">
      </div>

      <div class="form-group">
        <label for="zip_id" class="control-label required">Zip Code</label>
        <input #zip type="number" #zip class="form-control" id="zip_id"
               placeholder="#####">
      </div>

      <div class="form-group">
      <label for="description" class="control-label">Description</label>
      <input id="description"
             [(ngModel)]="property.description"
             placeholder="About your place"
             class="form-control"/>
      </div>

      <div class="form-group">
      <label for="size" class="control-label">Size(in sqft)</label>
      <input id="size"
             [(ngModel)]="property.size"
             placeholder="in sq ft Example: 1200"
             type="Number"
             class="form-control"/>
      </div>

      <button *ngIf="isNew" (click)="submit()"
              class="btn btn-primary btn-block profile-btn">
        Submit
      </button>
      <button *ngIf="!isNew" (click)="update()"
              class="btn btn-success btn-block profile-btn">
        Update
      </button>
      <button *ngIf="!isNew" (click)="delete()"
              class="btn btn-danger btn-block profile-btn">
        Delete
      </button>
    </div>
  </div>
</div>
