<app-navigation-bar [isLoggedIn]="isLoggedIn" [isOwner]="isOwner" [isTenant]="isTenant"></app-navigation-bar>
<div *ngIf="property">
  <div class="propertyImg">
    <div *ngIf="property.photoId.length==0" class="propDetailImg row" >
      <img src="../../assets/img/default-property.jpg" class="img-fluid">
    </div>
    <div *ngIf="property.photoId.length > 0" class="propDetailImg">
    <ul class="ulStyle">
      <li *ngFor="let id of property.photoId">
        <cl-image
          [public-id]=id
          class="thumbnail inline"
          width="300"
          height="300"
          crop="fit"
          quality="80"
          format="jpg"
        >
        </cl-image>
      </li>
    </ul>
    </div>
  </div>
  <table class="table table-striped propTable table-bordered">
    <tbody>
    <tr>
      <td>
        Name
      </td>
      <td>
        {{property.name}}
      </td>
    </tr>
    <tr>
      <td>
        University
      </td>
      <td>
        {{property.university.Institution_Name}}
      </td>
    </tr>

    <tr>
      <td>
        Type
      </td>
      <td>
        {{property.availabilityType}}
      </td>
    </tr>
    <tr>
      <td>
        Address
      </td>
      <td>
        {{property.address.number}} {{property.address.street}} {{property.address.city}}
        {{property.address.zip}}
      </td>
    </tr>
    <tr>
      <td>
        Price
      </td>
      <td>
        ${{property.price}}
      </td>
    </tr>
    <tr>
      <td>
        Rooms
      </td>
      <td>
        {{property.rooms}}
      </td>
    </tr>
    <tr>
      <td>
        Size
      </td>
      <td>
        {{property.size}} sqft
      </td>
    </tr>
    <tr *ngIf="!isOwner && isInterested">
      <td>
        Invitation Status
      </td>
      <td>
        {{invite.status}}
      </td>
    </tr>
    <tr *ngIf="!isOwner && isInterested && invite.status == 'Accept'">
      <td>
        Owner Profile
      </td>
      <td>
        <a  routerLink="/viewprofile/{{property.owner}}">View Owner Profile to contact</a>
    </tr>

    <tr>
    <td colspan="2" *ngIf="!isOwner && !isInterested">
        <button class="btn btn-primary" (click)="addToInvite(property._id)">Interested</button>
    </td>
    <td colspan="2" *ngIf="!isOwner && isInterested">
        <button class="btn btn-primary" (click)="removeFromInvite(property._id)">Not Interested</button>
    </td>
    </tr>
    </tbody>
  </table>
  <ul *ngIf="isOwner" class="list-group">
    <div class="inviteParent">
      <div><b>Tenant Invitations</b></div>
    </div>
    <li  *ngFor="let invite of invites"
         class="list-group-item">
      <div class="row" *ngIf="invite.status=='Pending'">
        <div class="col-3">
          <div>{{invite.user.username}}</div>
        </div>
        <div class="col-3">
          <button class="btn btn-primary"  (click)="AcceptInvitation(invite.user._id)">Accept</button>
        </div>
        <div class="col-3">
          <button class="btn btn-danger"  (click)="RejectInvitation(invite.user._id)">Reject</button>
        </div>
        <div class="col-3">
          <a  routerLink="/viewprofile/{{invite.user._id}}">View Tenant Profile</a>
        </div>
      </div>
    </li>
  </ul>
</div>
