<app-navigation-bar [isLoggedIn]="isLoggedIn" [isOwner]="isOwner" [isTenant]="isTenant"></app-navigation-bar>
<div class="container">
  <h2 class="profile-component">Profile</h2>
  <div class="row">
    <div class="col-4">
      <div *ngIf="user.photoId!==''">
        <cl-image
          [public-id]=user.photoId
          class="thumbnail inline"
          width="300"
          height="300"
          crop="fit"
          quality="80"
          format="jpg"
        >
        </cl-image>
      </div>
      <div *ngIf="user.photoId===''">
        <img src="../../assets/img/default-profile.png">
      </div>
      <button (click)="fileInput.click()" class="btn btn-success btn-block profile-btn">Upload</button>
      <span
        style="visibility: hidden; position: absolute; overflow: hidden; width: 0px; height:0px;border:none;margin:0; padding:0">
     <input type="file" id="fileupload" #fileInput ng2FileSelect [uploader]="uploader" (change)="fileInput.value=''"
            multiple/>
    </span>
    </div>
    <div class="col-8">
      <label for="username">Username</label>
      <input id="username"
             readonly
             [(ngModel)]="user.username"
             placeholder="Bob124"
             class="form-control profile-input"/>
      <label for="first">First Name</label>
      <input id="first"
             [(ngModel)]="user.firstName"
             placeholder="Bob"
             class="form-control profile-input"/>
      <label for="last">Last Name</label>
      <input id="last"
             [(ngModel)]="user.lastName"
             placeholder="Affleck"
             class="form-control profile-input"/>
      <label for="email">Email Address</label>
      <input id="email"
             type="email"
             [(ngModel)]="user.email"
             placeholder="bob@gmail.com"
             class="form-control profile-input"/>
      <label for="phone">Phone Number</label>
      <input id="phone"
             type="number"
             [(ngModel)]="user.phone"
             placeholder="8675641232"
             class="form-control profile-input"/>
      <button (click)="updateProfile()"
              class="btn btn-success btn-block profile-btn">
        Update
      </button>

      <button (click)="deleteProfile()"
              class="btn btn-danger btn-block profile-btn">
        Delete
      </button>

    </div>

    <!---->
    <!--<div class="form_controls">-->
    <!--<button type="file" id="fileupload" #fileInput ng2FileSelect  [uploader]="uploader" (click)="fileInput.value=''"-->
    <!--multiple-->
    <!--class="">-->
    <!--Upload-->
    <!--</button>-->
    <!--</div>-->


    <!--<div class="form_controls">-->
    <!--<div class="upload_button_holder">-->
    <!--<label class="upload_button" for="fileupload1">Upload</label>-->
    <!--&lt;!&ndash; onChange hanlder resets the input value to get the change event when uploading the same file consecutively &ndash;&gt;-->
    <!--<input type="file" id="fileupload1" #fileInput ng2FileSelect [uploader]="uploader" (change)="fileInput.value=''"-->
    <!--multiple />-->
    <!--</div>-->

    <!--</div>-->
  </div>
</div>
