<app-navigation-bar [isLoggedIn]="isLoggedIn" [isOwner]="isOwner" [isTenant]="isTenant"></app-navigation-bar>
<div class="container" *ngIf="user.role === role.Admin">
<app-home-admin></app-home-admin>
</div>

<div *ngIf="user.role !== role.Admin">
<ngb-carousel>
  <ng-template ngbSlide>
    <img src="../../assets/img/image1.jpg" class="img-fluid" height="auto" alt="Random first slide">
    <div class="carousel-caption">
      <h3>Welcome to Accommodare</h3>
      <p>A place to rent and find accommodation for college students.</p>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <img src="../../assets/img/image2.jpg" class="img-fluid" height="auto" alt="Random second slide">
    <div class="carousel-caption">
      <h3>Rent your apartment</h3>
      <p>Post your apartment for rent.</p>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <img src="../../assets/img/image3.jpg" class="img-fluid" height="auto" alt="Random third slide">
    <div class="carousel-caption">
      <h3>Search apartment</h3>
      <p>Find apartment near your own university</p>
    </div>
  </ng-template>
</ngb-carousel>

<div class="btn-group container-fluid parent" *ngIf="user.role === role.Owner">
  <a routerLink="/listing/self"><button type="button" class="btn btn-outline-primary btn-lg btn-block">Posted Property</button></a>
  <a routerLink="/property/new"> <button type="button" class="btn btn-outline-primary btn-lg btn-block">Add Property</button></a>
</div>
<div class="btn-group container-fluid parent" *ngIf="user.role === role.Tenant || isAnonymous">
  <a routerLink="/searchproperty"><button type="button" class="btn btn-home btn-outline-primary btn-lg btn-block">Search Property</button></a>
  <a *ngIf="!isAnonymous" routerLink="/wishlist/self"><button type="button" class="btn btn-outline-primary btn-lg btn-block">Wishlist</button></a>
</div>
</div>


